*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */

.container{
    padding: 0 10%;
}

/* Regole testata */

.testata{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #FF6900;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 900;
}

.category{
    text-align: center;
}

.logo img{
    width: 150px;
}
.gender:hover{
    text-decoration: underline;
    cursor: pointer;
}

.menu:hover{
    text-decoration:overline;
    cursor: pointer;
}

/* Regole main */
.product{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}



.bloc{
    margin-bottom: 40px;
    position: relative;
}

.cloth{
    height: 460px;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: 0px 10px;
}

.info{
    margin-left: 10px;
}

.brand{
    font-size: 14px;
}

.red{
    color: red;
    font-weight: 600;
}

.label{
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 80px;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
}
.whishlist{
    color: black;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
}

.whishlist:hover{
    color: red;
    cursor: pointer;
}

.eco{
    position: absolute;
    background-color: green;
}

.discount{
    background-color: red;
}
/* Regole footer */

footer{
    color: #fff;
}
.pie{
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

